.parent{
    display:inline-flex;
    flex-direction: row;
    margin-top: 20px; 
    
}
.container1{
    background-color: rgb(19, 236, 200);
    height: 270px;
    width: 400px;
    border-radius: 25px;
    margin-right: 300px;
    margin-top: 20px;
    padding: 5px;
}
.container{
    background-color: rgb(106, 224, 26);
    height: 250px;
    width: 400px;
    border-radius: 25px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 300px;
}
