body{
  background-image: linear-gradient(rgb(224, 166, 6)  , rgb(52, 216, 194));
  height: 720px;
  background-repeat:no-repeat;
}
.App {
  text-align: center;
}
.button{
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}
.button1{
  background-color: rgb(255, 38, 0);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px;
}
.heading{
  text-shadow:3px 3px cornsilk;
}
